.sidebar-toggle {
  width: 33%;
}

.aoi-details {
  color: black;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
}

.aoi-details h2,
.aoi-details h4 {
  margin-bottom: 10px;
}
