.map.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(12, 12, 12, 0.8);
  color: rgb(252, 252, 252);
  max-width: 300px;
  font-size: 13px;
  z-index: 9;
  pointer-events: none;
  opacity: 0.8;
}

.file-drop {
  width: 95% !important;
  height: auto;
  min-height: 200px;
  border: gray 2px dotted;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  transition: all ease 0.3s;
}

.file-drop div {
  text-align: center;
  width: 100%;
  padding: 85px;
  cursor: pointer;
}

.file-drop:hover {
  background: gray;
}

.AoiTable {
  padding-right: 50px;
  margin-top: 20px;
}

.AoiTableContainer {
  width: 500px;
  position: absolute;
  left: -500px;
  min-height: calc(100vh - 55px);
  z-index: 5;
  background: #292a2b;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 10px;
}

.AoiTableContainer.active {
  padding: 20px 10px 60px 10px;
  margin-top: 50px;
  left: initial;
  right: 0px;
  top: 0;
  height: 100vh;
  position: fixed;
  overflow: scroll;
}

.legend {
  position: absolute;
  bottom: 5vh;
  right: 2vw;
  background-color: rgba(247, 245, 245, 0.8);
  border-radius: 30px;
  padding: 10px;
}

.legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  white-space: pre-wrap;
}

.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.button-cont {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.smaller-text {
  font-size: 12px !important;
}

.form-btn-container {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

button.btn-dark.ml-1.btn {
  font-size: 14px;
  margin: 5px;
}

.btn-success,
.btn-secondary,
.btn-danger,
.btn-primary {
  min-width: 180px;
}

button.ml-1.btn.btn-danger {
  margin: 5px;
  font-size: 14px;
  min-width: initial;
}

button.sidebarControlBtn.btn.btn-secondary {
  min-width: initial;
  width: initial;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

#resetButton {
  color: red;
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  bottom: 2vh;
  right: 10px;
}

.container.detail-buttons {
  margin-left: -25px;
  width: 125%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mt-4 {
  position: fixed !important;
  right: 30px;
  bottom: 30px;
  margin: 0;
  padding: 0.5rem !important;
}

.mt-4 p {
  font-size: 20px;
  padding: 0 !important;
  margin: 0;
}

.mt-4 .h4 {
  font-size: 20px;
}
