body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .App {
  position: relative;
  z-index: -1;
} */

/* .overlay-parent {
  position: fixed;
  z-index: 99999;
} */

[class*="classic"]:before {
  content: "Loading...";
}

.classic-4 {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: c4 1.8s steps(4) infinite;
}
@keyframes c4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.spinner-4 {
  width: 80px;
  --b: 8px; /* the border thickness */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #ffffff) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}
@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 26px;
  color: white;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.test {
  z-index: 9999999999999;
  width: 100px;
  height: 30px;
  position: fixed;
}
